
body { font-family: Arial; color: #000000; background-color: #00CED1;}
{border-style: double;}

/* The code below modifies all the content within the <h1> tags */


h4 {font-family: Lucida Console,helvetica; color: #FF69B4;}

p {border-style: double;}